# Copie ce fichier en .env et remplis les valeurs
# Le .env ne doit JAMAIS être commité (.gitignore)

PGVECTOR_USER=fraud_user
PGVECTOR_PASSWORD=changeme

ARGO_EVENTS_TOKEN=changeme

ANON_SECRET_KEY=changeme-min-32-chars-secret-key

GRAFANA_PASSWORD=changeme
